:root {
  /* variables */
  --colorPrimario: black;
  --colorfondoSeccion: transparent;
  --margen-seccion: 40px;
  --border-radius: 10px;
  /* fuente */

  font-family: 'Roboto', sans-serif;

  /* colores  */
  /* CSS HEX */
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;

  /* CSS HSL */
  --charcoal: hsla(197, 37%, 24%, 1);
  --persian-green: hsla(173, 58%, 39%, 1);
  --saffron: hsla(43, 74%, 66%, 1);
  --sandy-brown: hsla(27, 87%, 67%, 1);
  --burnt-sienna: hsla(12, 76%, 61%, 1);

  /* contenido general  */

  /* font-family: cursive; */
}
html {
  scroll-behavior: smooth;
}